@font-face {
    font-family: "TwinMarker";
    src: local('TwinMarker'),
    url("../fonts/TwinMarker.ttf") format("truetype");
}

.font-face {
    font-family: "TwinMarker";
    
}

.table-style {
  border-collapse:separate; 
  border-spacing: 100px 2em;
}

.td {
  padding-left: 30px;
}

.btn-edit {
  width: 60%;
  height: 60%;
}

.background-alltasks {
    background-image: url("../image/notebook-background-.jpg");
    background-size: 100%;
  }

.color-background {
  background-color: #F5C558;
}  

.tasks-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 0px;
    min-height: 89.8vh;
    padding: 25px;
    padding-top: 5%;
  }

  .tasks-container2 {
    display: flex;
    flex-direction: row;
    /*height: auto;*/
    justify-content: flex-end;
    /*margin-top: 0px;
    min-height: 89.8vh;
    padding: 25px;
    padding-top: 5%;*/
  }

  .tasks-div-father {
    padding-left: 0%;
    display: flex ;
    align-items: center;
  }

  .title-allTasks {
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 10px 10px 0 0;
    color: rgb(146, 47, 47);
    font-size: 75px;
    /*font-weight: 100;*/
    padding: 6px 120px 0;
    padding-bottom: 5%;
    text-align: center;
    width: 280px;
  }

  .td {
    padding-left: 280%px;
  }

  .linha {
    text-decoration: underline;
  }

  .title-allTasks2 {
    background-color: rgba(255, 255, 255, 0.445);
    /*border-radius: 10px 10px 0 0;*/
    color: rgb(146, 47, 47);
    font-size: 50px;
    /*font-weight: 100;*/
    /*padding: 6px 120px 0;*/
    padding-left: 35%;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: start;
    /*text-decoration: underline;*/
    /*width: 280px;*/
  }

  .align-btn-exit {
    text-align: end;
    padding-left: 48%;
    color: rgb(146, 47, 47);
  }

  .img-pencil {
    padding-left: 2%;
    
  }

  #mostrar{
    display: none;
  }

  #passar_mouse:hover #mostrar{
    display:block;
    }


  .img-exit {
    padding-left: 2%;
    padding-left: 20%;
    color: rgb(146, 47, 47);
  }

  .btn-add-task {
    background-color: rgba(240, 110, 4, 0.863);
    font-size: 120%;
    border-radius: 12px;
    margin-top: 4%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
  }

  .img-plus {
    border-left: 40%;
  }
    
  .table-allTasks {
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 0 10px;
    position: relative;
    text-align: center;
  }

  .table-allTasks th {
    color: rgb(146, 47, 47);
    font-weight: 300;
  }